/*Se publica una versión reducida de este archivo, se usa la herramienta http://www.minifycss.com/css-compressor/*/
.td_Texto
{
	font-style:normal;
	font-family:Verdana, Tahoma, Arial;
	font-size:11px;
	text-align:right;	
}

#accordion h3
{
	font-style:normal;
	font-family:Verdana, Tahoma, Arial;
	font-size:13px;
	font-weight:bold;
}

.td_TextoIzq
{
	font-style:normal;
	font-family:Verdana, Tahoma, Arial;
	font-size:11px;
	text-align:left;	
}

.td_TextoLeyenda
{
	font-style:italic;
	font-family:Verdana, Tahoma, Arial;
	font-size:10px;
	text-align:left;	
}

.td_TextoLeyendaCenter
{
	font-family:Verdana, Tahoma, Arial;
	font-size:10px;
	text-align:center;	
	color:red;
}

.td_TextoLeyendaDer
{
	font-style:italic;
	font-family:Verdana, Tahoma, Arial;
	font-size:10px;
	text-align:right;	
}

.td_TextoCenter
{
	font-style:normal;
	font-family:Verdana, Tahoma, Arial;
	font-size:70%;
	text-align:center;	
	vertical-align:top
}

.TextoMensaje
{
	font-style:normal;
	font-family:Verdana, Tahoma, Arial;
	font-size:90%;	
}

.Cbo_Style_Default
{
	width:150;
	font-size:70%;
	font-style:normal;
	font-family:Verdana, Tahoma, Arial;
}

.Chk_Style_Default
{
	font-size:70%;
	font-style:normal;
	font-family:Verdana, Tahoma, Arial;	
}

.Txt_Style_Default
{
	width:150;
	font-style:normal;
	font-family: Arial, Helvética, Sans-Serif;
	font-size:12px;
}

.Txt_Fecha
{
	width:35;
	font-size:70%;
	font-style:normal;
	font-family:Verdana, Tahoma, Arial;
}

.Txt_Direccion
{	
	width:300;
	font-size:70%;
	font-style:normal;
	font-family:Verdana, Tahoma, Arial;
}

.TextoTitulo
{
	font-style:normal;
	font-family:Verdana, Tahoma, Arial;
	font-size:medium;
	font-weight:bold;
	color:#005a9c;
}

.TextoTitulo_2
{
	font-style:normal;
	font-family:Verdana, Tahoma, Arial;
	font-size:smaller;
	font-weight:bold;
	color:#005a9c;
}

.TextoTitulo_3
{
	font-style:normal;
	font-family:Verdana, Tahoma, Arial;
	font-size:70%;
	font-weight:bold;
	color:#005a9c;
}

.TextoAvance
{
	font-style:normal;
	font-family:Verdana, Tahoma, Arial;
	font-size:100%;
	font-weight:bold;
	color:Green;
}

.TextoPendiente
{
	font-style:normal;
	font-family:Verdana, Tahoma, Arial;
	font-size:100%;
	font-weight:bold;
	color:Red;
}

.TextoConsulta
{
	font-style:normal;
	font-family:Verdana, Tahoma, Arial;
	font-size:smaller;
	font-weight:bold;
	color:Black;
}

.TextoError
{	
	font-style:normal;
	font-family:Verdana, Tahoma, Arial;
	font-size:70%;
	font-weight:bold;
	color:Red;
}

.table_Default
{	
	width:95%;
}

.TextoAbajo
{
	color: gray;
	font-family: Arial, Verdana, Tahoma;
}

/* Menu */
.MenuPrincipal
        {
         font-size: 13px;
         font-family: Arial, Verdana, Tahoma;
         padding: 0px;
         text-align:left;
        }
        
.MenuSecundario
        {
         font-size: 110%;
         font-family: Arial, Verdana, Tahoma;
         padding: 0px;
         text-align:left;	
        }
        
/* Accordion */
.demoarea {
	padding:20px;
	background:#FFF url(images/background.jpg) no-repeat left top;
}

.demoarea p 
{
	padding:5px;
}

.demoheading {
	padding-bottom:20px;
	color:#5377A9;
	font-family:Arial, Sans-Serif;
	font-weight:bold;
	font-size:1.5em;
}

.accordionHeader
{
    border: 1px solid #2F4F4F;
    color:Black;
    background-color: #2E4d7B;
    background-image: url(../images/horizontalgradient.gif);
	font-family:Trebuchet MS;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

#master_content .accordionHeader a
{
	color:Black;
	background: none;
	text-decoration: none;
}

#master_content .accordionHeader a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionHeaderSelected
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #5078B3;
    background-image: url(../images/horizontalgradient.gif);
	font-family: Trebuchet MS;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

#master_content .accordionHeaderSelected a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

#master_content .accordionHeaderSelected a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionContent
{
    background-color: #D3DEEF;
    background-image: url(../images/background.jpg);
    background-repeat:repeat-y;
    background-position:left top;
    border: 1px dashed #2F4F4F;
    border-top: none;
    padding: 5px;
    padding-top: 10px;
    font-family: Trebuchet MS;
    font-size: 12px;
   
}

/*CollapsiblePanel*/
.collapsePanel {
	
	background-color:white;
	overflow:hidden;
	text-align:left;
	font-family: Trebuchet MS;
	font-size:12px;
}

.collapsePanelHeader{
	width:100%;
	height:30px;
	background-image: url(../images/explorer.gif);
	background-repeat:no-repeat;
	color:#FFF;
	font-weight:bold;
	font-size:14px;
	font-family: Trebuchet MS;
}

#master_content .collapsePanelHeader a {color:#FFF;}
#master_content .collapsePanelHeader a:hover {text-decoration:none;background:none;}

.hyperlink
{
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	text-decoration:none;
}

#master_content .hyperlink:hover
{
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	color:Black;
    text-decoration:underline;
}

/************ MaskedEdit Related Styles ***********************/
.MaskedEditFocus
{
    background-color: #ffffcc;
    color: #000000;
}
.MaskedEditMessage
{
	color: #ff0000;
	font-weight: bold;
}
.MaskedEditError
{
    background-color: #ffcccc;
}
.MaskedEditFocusNegative
{
    background-color: #ffffcc;
    color: #ff0000;
}
.MaskedEditBlurNegative
{
    color: #ff0000;
}

/*Calendario*/

.calendario .ajax__calendar_container {padding:1px 0px 1px 0px;position:absolute;cursor:default;width:185px;font-size:13px;text-align:center;font-family:tahoma,verdana,helvetica; z-index:15;}
.calendario .ajax__calendar_body {height:135px;width:185px;position:relative;overflow:hidden;margin:auto; filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#B1CCF1, endColorStr=#ffffff);}
.calendario .ajax__calendar_days, .ajax__calendar_months, .ajax__calendar_years {top:0px;left:0px;height:135px;width:185px;position:absolute;text-align:center;margin:auto;}
.calendario .ajax__calendar_container TABLE {font-size:11px; filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#B1CCF1, endColorStr=#ffffff);}
.calendario .ajax__calendar_header {height:20px;width:185px; background-image:url(../images/horizontalgradient.gif);}
.calendario .ajax__calendar_prev {cursor:pointer;width:15px;height:15px;float:left;background-repeat:no-repeat;background-position:50% 50%;background-image:url(<%=WebResource("AjaxControlToolkit.Calendar.arrow-left.gif")%>);}
.calendario .ajax__calendar_next {cursor:pointer;width:15px;height:15px;float:right;background-repeat:no-repeat;background-position:50% 50%;background-image:url(<%=WebResource("AjaxControlToolkit.Calendar.arrow-right.gif")%>);}
.calendario .ajax__calendar_title {cursor:pointer;font-weight:bold;}
.calendario .ajax__calendar_footer {height:15px;width:185px;}
.calendario .ajax__calendar_today {cursor:pointer;padding-top:3px;}
.calendario .ajax__calendar_dayname {height:17px;width:17px;text-align:right;padding:0 0px; font-weight:bold;}
.calendario .ajax__calendar_day {height:17px;width:18px;text-align:right;padding:0 2px;cursor:pointer;}
.calendario .ajax__calendar_month {height:42px;width:44px;text-align:center;cursor:pointer;overflow:hidden;}
.calendario .ajax__calendar_year {height:42px;width:44px;text-align:center;cursor:pointer;overflow:hidden;}

.calendario .ajax__calendar_container {border:1px solid #012363; filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#B1CCF1, endColorStr=#ffffff);}  /*background-color:#ffffff;color:#666666;}*/
.calendario .ajax__calendar_footer {border-top:1px solid #f5f5f5; background-image:url(../images/horizontalgradient.gif);}
.calendario .ajax__calendar_dayname {border-bottom:1px solid #f5f5f5;}
.calendario .ajax__calendar_day {border:2px solid #93B8EC; color:#1851B4; font-weight:bold; }
.calendario .ajax__calendar_month {border:1px solid #93B8EC; color:#1851B4; font-weight:bold;}
.calendario .ajax__calendar_year {border:1px solid #93B8EC; color:#1851B4; font-weight:bold;}

.calendario .ajax__calendar_active .ajax__calendar_day {border-color:#C7E9FF;color:#012363; filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#C7E9FF, endColorStr=#E0F3FF);}
.calendario .ajax__calendar_active .ajax__calendar_month {border-color:#C7E9FF;color:#012363; filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#C7E9FF, endColorStr=#E0F3FF);}
.calendario .ajax__calendar_active .ajax__calendar_year {border-color:#C7E9FF;color:#012363; filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#C7E9FF, endColorStr=#E0F3FF);}

.calendario .ajax__calendar_other .ajax__calendar_day {border-color:#93B8EC;color:#02A21A; filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#AFC2E9, endColorStr=#ffffff);}
.calendario .ajax__calendar_other .ajax__calendar_year {border-color:#93B8EC;color:#02A21A; filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#AFC2E9, endColorStr=#ffffff);}

.calendario .ajax__calendar_hover .ajax__calendar_day {border-color:#3DB1FF;color:#012363; filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#3DB1FF, endColorStr=#ffffff);}
.calendario .ajax__calendar_hover .ajax__calendar_month {border-color:#3DB1FF;color:#012363; filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#3DB1FF, endColorStr=#ffffff);}
.calendario .ajax__calendar_hover .ajax__calendar_year {border-color:#3DB1FF;color:#012363; filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#3DB1FF, endColorStr=#ffffff);}

.calendario .ajax__calendar_hover .ajax__calendar_title {color:#F3EDED;}
.calendario .ajax__calendar_hover .ajax__calendar_today {color:#F3EDED;}


/* TextBox*/

.id-tabla-texto
{
	text-align:right;
	font-family: Arial, Helvética, Sans-Serif;
	font-size:12px;
	width:72px;
}

/*CollapsiblePanel*/
.collapsePanelRpt {
	
	background-color:white;
	overflow:hidden;
	height:200px;
	font-size:70%;
}

.collapsePanelHeaderRpt{
	width:100%;
	height:31px;
	background-color:#dcdcdc;
	font-style:normal;
	font-family:Verdana, Tahoma, Arial;
	font-size:70%;
	font-weight:bold;
	color:#005a9c;
}

#master_content .collapsePanelHeader a {color:#FFF;}
#master_content .collapsePanelHeader a:hover {text-decoration:none;background:none;}

/*GridView*/
.gridview
{
	background-color:Black;
	border-color:Black;
	border-bottom-color:Black;
	border-left-color:Black;
	border-right-color:Black;
	border-top-color:Black;
	color:White;
	font-size:70%;
	text-align:center; 
}

.altoverow
{
    font-weight:bold;
    color:Black;
	border:10px solid #99BBE8;
    background: #efefef url(../images/rowover.gif) repeat-x left top;
}
/*Fin GridView*/

.id-tabla-texto-multilinea
{
    text-align:left;
    font-family:Arial, Helvética, Sans-Serif;
    font-size:12px;
    width:72px;
}  

.id-list-box
{
    text-align:left;
    font-family:Verdana, Tahoma, Arial;
    font-size:12px;
    font-style:normal;
    overflow:auto;
}