/*Se publica una versión reducida de este archivo, se usa la herramienta http://www.minifycss.com/css-compressor/*/
/*Resetear hoja de estilo predeterminada*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
/* No olvides definir estilos para focus */
:focus {
outline: 0;
}
/* No olvides resaltar de alguna manera el texto insertado/borrado */
ins {
text-decoration: none;
}
del {
text-decoration: line-through;
}
/* En el código HTML es necesario añadir cellspacing="0" */
table {
border-collapse: collapse;
border-spacing: 0;
}


BODY
{
    MARGIN-TOP: 0px;
    MARGIN-LEFT: 0px;
}
A.topSeleccionado2
{
	border-right: #6699cc 1px solid;
	border-top: #6699cc 1px solid;
	font-size: 8pt;
	padding-bottom: 4px;
	border-left: #6699cc 1px solid;
	width: 100%;
	color: black;
	padding-top: 4px;
	border-bottom: #6699cc 1px solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 19px;
	background-color: #a8a8a8;
	text-align: center;
	text-decoration: none;
}
A.top2:link
{
	border-right: #6699cc 1px solid;
	border-top: #6699cc 1px solid;
	font-size: 8pt;
	padding-bottom: 4px;
	border-left: #6699cc 1px solid;
	width: 100%;
	cursor: hand;
	color: white;
	padding-top: 4px;
	border-bottom: #6699cc 1px solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 20px;
	background-color: #005a9c;
	text-align: center;
	text-decoration: none;
}
A.top2:visited
{
	border-right: #6699cc 1px solid;
	border-top: #6699cc 1px solid;
	font-weight: normal;
	font-size: 8pt;
	background-image: url(/images/bg_top_menu.gif);
	padding-bottom: 4px;
	border-left: #6699cc 1px solid;
	width: 100%;
	cursor: hand;
	color: white;
	padding-top: 4px;
	border-bottom: #6699cc 1px solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 20px;
	background-color: #005a9c;
	text-align: center;
	text-decoration: none;
}
A.top2:hover
{
	border-right: #6699cc 1px solid;
	border-top: #6699cc 1px solid;
	font-size: 8pt;
	padding-bottom: 4px;
	border-left: #6699cc 1px solid;
	width: 100%;
	cursor: hand;
	color: white;
	padding-top: 4px;
	border-bottom: #6699cc 1px solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 20px;
	background-color: #6699cc;
	text-align: center;
	text-decoration: none;
}
A.topSeleccionado
{
	border-right: #696969 1px solid;
	border-top: #696969 0px solid;
	font-size: 8pt;
	padding-bottom: 4px;
	border-left: #696969 1px solid;
	width: 100%;
	color: white;
	padding-top: 4px;
	border-bottom: #696969 0px solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 19px;
	background-color: #696969;
	text-align: center;
	text-decoration: none;
}
A.top:link
{
	border-right: 1px solid;
	border-top: 0px solid;
	font-size: 8pt;
	padding-bottom: 4px;
	border-left: 1px solid;
	width: 100%;
	cursor: hand;
	color: black;
	padding-top: 4px;
	border-bottom: 0px solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 20px;
	background-color:lightgrey;
	text-align: center;
	text-decoration: none;
}
A.top:visited
{
	border-right: 1px solid;
	border-top: 0px solid;
	font-size: 8pt;
	background-image: url(/images/bg_top_menu.gif);
	padding-bottom: 4px;
	border-left: 1px solid;
	width: 100%;
	cursor: hand;
	color: black;
	padding-top: 4px;
	border-bottom: 0px solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 20px;
	background-color: lightgrey;
	text-align: center;
	text-decoration: none;
}
A.top:hover
{
	border-right: 1px solid;
	border-top: medium none;
	font-size: 8pt;
	padding-bottom: 4px;
	border-left: 1px solid;
	width: 100%;
	cursor: hand;
	color: black;
	padding-top: 4px;
	border-bottom: medium none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 20px;
	background-color: gainsboro;
	text-align: center;
	text-decoration: none;
}
tr.OpcionMenuMarcada
{
    CURSOR: hand;
}
tr.OpcionMenuMarcada A:link
{
    COLOR: white;
    TEXT-DECORATION: none
}
tr.OpcionMenuMarcada A:visited
{
    COLOR: white;
    TEXT-DECORATION: none
}
tr.OpcionMenuMarcada td
{
	border-right: #6699cc 1px solid;
	border-top: #6699cc 1px solid;

	vertical-align: middle;
	border-left: #6699cc 1px solid;
	color: white;
	border-bottom: #6699cc 1px solid;
	background-color: #a8a8a8;
}
tr.OpcionMenuMarcada td DIV
{
	padding-left: 3px;
	font-size: 10px;
	color: black;
	line-height: 14px;
	font-family: Verdana, Arial, sans-serif;
	background-color: #a8a8a8;
}
tr.OpcionMenuMarcada td.swath
{
    BORDER-RIGHT: medium none;
    CURSOR: auto;
    BACKGROUND-COLOR: #dcdcdc
}
tr.OpcionMenu
{
    FONT-SIZE: 11px;
    CURSOR: hand;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #005a9c
}
tr.OpcionMenu td.swath
{
    BORDER-RIGHT: medium none;
    CURSOR: auto;
    BACKGROUND-COLOR: #6699cc;
}
tr.OpcionMenu td
{
	border-right: #003 1px solid;
	border-top: #336699 1px solid;
	vertical-align: middle;
	border-left: medium none;
	cursor: hand;
	color: white;
	border-bottom: #003 1px solid;
	font-family: Verdana;
	background-color: #005a9c;
}
tr.OpcionMenuSombra
{
    CURSOR: hand;
    COLOR: #ffffff;
}
tr.OpcionMenuSombra A:link
{
    COLOR: white;
    TEXT-DECORATION: none
}
tr.OpcionMenuSombra A:visited
{
    COLOR: white;
    TEXT-DECORATION: none
}
tr.OpcionMenuSombra td
{
    BORDER-RIGHT: #003 1px solid;
    BORDER-TOP: #369 1px solid;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: medium none;
    CURSOR: hand;
    BORDER-BOTTOM: #003 1px solid;
    BACKGROUND-COLOR: #6699cc
}
tr.OpcionMenuSombra td DIV
{
	padding-left: 3px;

	font-size: 10px;
	color: white;
	line-height: 14px;
	font-family: Verdana, Arial, sans-serif;
	background-color: #6699cc;
}
tr.OpcionMenuSombra td.swath
{
    BORDER-RIGHT: medium none;
    CURSOR: auto;
    BACKGROUND-COLOR: #336699
}
tr.OpcionMenu A:link
{
    COLOR: white
}
tr.OpcionMenu A:visited
{
    COLOR: white
}
tr.OpcionMenuMarcada A:link
{
    COLOR: white
}
tr.OpcionMenu
{
    COLOR: white
}
tr.OpcionMenu td DIV
{
	padding-left: 3px;

	font-size: 10px;
	line-height: 14px;
	font-family: Verdana,Tahoma, Arial, sans-serif;
	background-color: #005a9c;
}
tr.OpcionMenu td A
{
    TEXT-DECORATION: none
}
tr.OpcionMenu td A:visited
{
    TEXT-DECORATION: none
}
tr.OpcionMenu td A:link
{
    TEXT-DECORATION: none
}
.top
{
	border-right: dimgray 1px solid;
	border-top: dimgray 0px solid;
	font-size: 9pt;
	border-left: dimgray 1px solid;
	width: 100%;
	cursor: hand;
	color: #ffffff;
	padding-top: 3px;
	border-bottom: dimgray 0px solid;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	height: 20px;
	text-align: center;
	text-decoration: none;
}
td.swath
{
    FONT: 15px Verdana
}
td.colNegritaDer
{
    BORDER-RIGHT: #31639c 1px solid;
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: #31639c 1px solid;
    COLOR: black;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #31639c 1px solid;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: auto;
    TEXT-ALIGN: right
}
.colNegritaSimple
{
    BORDER-RIGHT: #31639c 1px solid;
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    VERTICAL-ALIGN: middle;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #31639c 1px solid;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: auto;
    TEXT-ALIGN: left
}
.colSimpleIzq
{
    CLEAR: both;
    BORDER-RIGHT: #31639c 1px solid;
    PADDING-RIGHT: 2px;
    BORDER-TOP: #31639c;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: medium none;
    WIDTH: auto;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #31639c 1px solid;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: auto;
    TEXT-ALIGN: left
}
.colSimpleCentrado
{
    BORDER-RIGHT: #31639c 1px solid;
    PADDING-RIGHT: 4px;
    BORDER-TOP: #31639c;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: #31639c 1px solid;
    WIDTH: auto;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #31639c 1px solid;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: auto;
    TEXT-ALIGN: center
}
.colNegritaIzq
{
    BORDER-RIGHT: #31639c 1px solid;
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: #31639c 1px solid;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #31639c 1px solid;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: auto;
    TEXT-ALIGN: left
}
.tabla_titulo_centrado A
{
    COLOR: white
}
.tabla_titulo_centrado A:visited
{
    COLOR: white
}
.tabla_titulo_centrado A:active
{
    TEXT-DECORATION: underline
}
.tabla_titulo_centrado
{
    BORDER-RIGHT: #005a9c 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #005a9c 1px solid;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #005a9c 1px solid;
    COLOR: white;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #005a9c 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #005a9c;
    TEXT-ALIGN: center
}
.cmdCeleste
{
    BORDER-RIGHT: #104a7b 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #afc4d5 1px solid;
    PADDING-LEFT: 0px;
    FONT-SIZE: 11px;
    BACKGROUND-IMAGE: none;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: #afc4d5 1px solid;
    CURSOR: hand;
    COLOR: #000066;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #104a7b 1px solid;
    BACKGROUND-REPEAT: repeat;
    FONT-FAMILY: Verdana, Tahoma;
    HEIGHT: 19px;
    BACKGROUND-COLOR: #d6e7ef;
    TEXT-DECORATION: none
}
.cmdBlanco
{
    BORDER-RIGHT: #104a7b 1px solid;
    BORDER-TOP: #afc4d5 1px solid;
    FONT-SIZE: 11px;
    BACKGROUND-IMAGE: none;
    BORDER-LEFT: #afc4d5 1px solid;
    CURSOR: hand;
    COLOR: #000066;
    BORDER-BOTTOM: #104a7b 1px solid;
    BACKGROUND-REPEAT: repeat;
    FONT-FAMILY: Verdana, Tahoma;
    HEIGHT: 19px;
    BACKGROUND-COLOR: white;
    TEXT-DECORATION: none
}
.ControlesMedianos
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px
}


