<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<add key="CAT_ESTADO_TARJETA" value="27" />
	</appSettings>
	<connectionStrings>
		<!--Se debe descomentar y actualizar con los datos correctos, si se desea utilizar ID y Password-->
		<add name="Sql_Server" connectionString="mcQKhSSzcMNRGIwrXGZW4/63FQsUUaCHCXxuqsutPqrB93Kd2/vH70mNtvMsXx2Sv8er85Tjpn2bjH9cwpS/8noDEJC8dcp7tkx+x6vQGu4PPvMEqyfrn9H7wKtnxLS35N+FToF8UVCFuEG0EcfhcBPD6nEvE4q5jTWp3eakXbhHaOtv4+pgdS+bMc7eY3K3F/IfMytCfmpSchQ0kxrWFFqkXMK5McfG" />
		<add name="Sql_Server_OLDB" connectionString="mcQKhSSzcMNRGIwrXGZW4/63FQsUUaCHCXxuqsutPqrB93Kd2/vH70mNtvMsXx2Sv8er85Tjpn2bjH9cwpS/8noDEJC8dcp7tkx+x6vQGu4PPvMEqyfrn9H7wKtnxLS35N+FToF8UVCFuEG0EcfhcLCWRMrCuVD4IFEy914VhZDddw1POSPVEb9iI77lq838J70sMotToxQSTC3YTStiWA==" />
		<!--<add name="Sql_Server" connectionString="mcQKhSSzcMNRGIwrXGZW4/63FQsUUaCHCXxuqsutPqrB93Kd2/vH70mNtvMsXx2S8NfuSID/hqYrcPv3AuuV81BjUKXuEcO2sjQcFcgXqkFMOeQNl1iSh+FUo+0YmUOq3VYVypxq1R0AtI19CdCh8l5lwEXd550dDGmZ6fWJZl6G4P4IQC63y9jI5G3DMeO+nzUdXFUMiTYvMJQin5vFZ+i6gSYcAsid"/>
		<add name="Sql_Server_OLDB" connectionString="mcQKhSSzcMNRGIwrXGZW4/63FQsUUaCHCXxuqsutPqrB93Kd2/vH70mNtvMsXx2S8NfuSID/hqYrcPv3AuuV81BjUKXuEcO2sjQcFcgXqkFMOeQNl1iSh+FUo+0YmUOq3VYVypxq1R0AtI19CdCh8t6EeSkqI0mymoi6Uk/ZIoETGRRNvGAKA8jCkx+JJfBctoMpiOovu74ric072QLsV4F3G5PbyPq9"/>-->
		<!--<add name="Sql_Server" connectionString="Data Source=BCR0106SQL86, 10039;Initial Catalog=BCRGarantias;User ID=AccesoGarantias;Password=Ac6soGas12Tara004nti;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;"/>
		<add name="Sql_Server_OLDB" connectionString="Data Source=BCR0106SQL86, 10039;Initial Catalog=BCRGarantias;User ID=AccesoGarantias;Password=Ac6soGas12Tara004nti;Persist Security Info=True;Provider=SQLOLEDB.1"/>-->
	</connectionStrings>
	<system.web>
		<trace enabled="false" />
		<compilation debug="false">
			<assemblies>
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		<authentication mode="Windows" />
		<identity impersonate="true" />
		<authorization>
			<allow users="*" />
		</authorization>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
		<webServices>
			<protocols>
				<add name="HttpGet" />
				<add name="HttpPost" />
				<add name="HttpSoap" />
				<add name="HttpPost" />
				<add name="HttpGet" />
				<add name="HttpPostLocalhost" />
			</protocols>
		</webServices>
	</system.web>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
