<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!--
		Sección para determinar la clase que va a manejar la sección del 
		esquema de ejecución
		-->
		<section name="EsquemaEjecucion" 
		   type="BCRGARANTIAS.Utilidades.CalendarioServicio, Utilidades"/>
	</configSections>

	<!--
		La sección EsquemaEjecucion establece la configuración de la 
		periodicidad de ejecución del proceso de generación de archivos.
		
		El atributo PeriodicidadEjecucion define cada cuando deben ser generados
		los archivos, los posibles valores son "Diaria", "Semanal", "Mensual".
		
		La subsección "Diaria" estable los parametros para la ejecución díaria del archivo;
		el atributo "HoraEjecucion" indica a partir de que hora se debe empezar a generar
		los archivos.
		
		La subsección "Semanal" no tiene atributos, pero si tiene subsección por cada día de
		la semana. Para cada día los atributos son "HoraEjecucion" el cual indica 
		a partir de que hora se debe empezar a generar los archivos para un día en particular
		y "EjecutarHoy" indica si ese día debe ser ejecutado; los posibles valores para
		ese atributo son "true" lo que indica que ese día si se debe ejecutar y "false" lo
		que indica que ese día no debe ejecutarse archivos.
		
		La subsección "Mensual" tiene dos atributos, "Dia" lo que indica el día del mes que 
		debe ejecutarse y  "HoraEjecucion" indica a partir de que hora se debe empezar a generar
		los archivos.
		
		Tanto los valores como los atributos son sensitivos a mayúsculas.
	-->
	
	<EsquemaEjecucion PeriodicidadEjecucion="Diaria">
		<Diaria HoraEjecucion="4:00"/>
		<Semanal>
			<Lunes HoraEjecucion="16:15" EjecutarHoy="true"/>
			<Martes HoraEjecucion="07:20" EjecutarHoy="true"/>
			<Miercoles HoraEjecucion="10:00" EjecutarHoy="true"/>
			<Jueves HoraEjecucion="09:07" EjecutarHoy="true"/>
			<Viernes HoraEjecucion="10:00" EjecutarHoy="true"/>
			<Sabado HoraEjecucion="10:00" EjecutarHoy="true"/>
			<Domingo HoraEjecucion="10:00" EjecutarHoy="true"/>
		</Semanal>
		<Mensual Dia="22" HoraEjecucion="16:26"/>
	</EsquemaEjecucion>
	
	
	<connectionStrings>
		<!--Se debe descomentar y actualizar con los datos correctos, si se desea utilizar ID y Password-->
		<!--<add name="Sql_Server" connectionString="Data Source=BCR0106SQL86, 10039;Initial Catalog=BCRGarantias;User ID=AccesoGarantias;Password=Ac6soGas12Tara004nti;MultipleActiveResultSets=False;Packet Size=4096;"/>
			<add name="Sql_Server_OLDB" connectionString="Data Source=BCR0106SQL86, 10039;Initial Catalog=BCRGarantias;User ID=AccesoGarantias;Password=Ac6soGas12Tara004nti;Persist Security Info=True;Provider=SQLOLEDB.1;"/>-->
		<!--<add name="Sql_Server" connectionString="mcQKhSSzcMNRGIwrXGZW4/63FQsUUaCHCXxuqsutPqrB93Kd2/vH70mNtvMsXx2S8NfuSID/hqYrcPv3AuuV81BjUKXuEcO2sjQcFcgXqkFMOeQNl1iSh+FUo+0YmUOq3VYVypxq1R0AtI19CdCh8l5lwEXd550dDGmZ6fWJZl6G4P4IQC63y9jI5G3DMeO+nzUdXFUMiTYvMJQin5vFZ+i6gSYcAsid"/>
		<add name="Sql_Server_OLDB" connectionString="mcQKhSSzcMNRGIwrXGZW4/63FQsUUaCHCXxuqsutPqrB93Kd2/vH70mNtvMsXx2S8NfuSID/hqYrcPv3AuuV81BjUKXuEcO2sjQcFcgXqkFMOeQNl1iSh+FUo+0YmUOq3VYVypxq1R0AtI19CdCh8t6EeSkqI0mymoi6Uk/ZIoETGRRNvGAKA8jCkx+JJfBctoMpiOovu74ric072QLsV+xd7G6UqTMu"/>-->
		<!--BASE DE DATOS 2000-->
		<!--<add name="Sql_Server" connectionString="mcQKhSSzcMNRGIwrXGZW4/63FQsUUaCHCXxuqsutPqrB93Kd2/vH70mNtvMsXx2Sv8er85Tjpn2bjH9cwpS/8noDEJC8dcp7tkx+x6vQGu4PPvMEqyfrn9H7wKtnxLS35N+FToF8UVCFuEG0EcfhcBPD6nEvE4q5jTWp3eakXbhHaOtv4+pgdS+bMc7eY3K3F/IfMytCfmpSchQ0kxrWFFqkXMK5McfG"/>
		<add name="Sql_Server_OLDB" connectionString="mcQKhSSzcMNRGIwrXGZW4/63FQsUUaCHCXxuqsutPqrB93Kd2/vH70mNtvMsXx2Sv8er85Tjpn2bjH9cwpS/8noDEJC8dcp7tkx+x6vQGu4PPvMEqyfrn9H7wKtnxLS35N+FToF8UVCFuEG0EcfhcLCWRMrCuVD4IFEy914VhZDddw1POSPVEb9iI77lq838J70sMotToxQSTC3YTStiWA=="/>-->
		<!--BASE DE DATOS 2008-->
		<add name="Sql_Server" connectionString="mcQKhSSzcMNRGIwrXGZW45RueEpf8xFpyAaEX28v/9O4E3f0S6w6GHq2PK0eSf/Ncnp0iCeMmGAALjeUISHLryu4T1HAHgUW9kYxx9FWrFE5jbUZrqCReA/EmI1YTRLFa+FLd9TVd6WihcU9NtEHox7Ko0Pl41MzStMJSLCGBWxXWrdUCTlWxPYOUv3JB0z5fMiJh7tOsvw="/>
		<add name="Sql_Server_OLDB" connectionString="mcQKhSSzcMNRGIwrXGZW45RueEpf8xFpyAaEX28v/9O4E3f0S6w6GHq2PK0eSf/Ncnp0iCeMmGAALjeUISHLryu4T1HAHgUW9kYxx9FWrFE5jbUZrqCReA/EmI1YTRLFkBgvW2ax8LLMcFxuyNfyk13HeHmR6inhZHsN65b0QNmWHoAtbo4/RAN7pJmiNsb2GG5jmfgS5fI="/>
	</connectionStrings>
	<appSettings>
		<!--
		INTERVAL=Indica cada cuando el servicio pregunta si se debe ejecutar la generación
		de archivos.
		La determinación de la ejecución lo define la parametrización de la sección 
		"Esquema de Ejecución"
		
		RUTAARCHIVOSSUGEF=Indica el directorio físico en el cual los archivos va a ser
		copiados
		
		USUARIOSERVICIO=Indica con que usuario se ejecutaran los procedimientos almacenados
		que requieran de parametro un usuario
		
		NOMBREPROCESO=Nombre del proceso de BCR Garantias que de establecio como el de
		generación de archivos.
		-->
		<add key="BCRGARANTIAS.INTERVAL" value="1"/>
		<add key="BCRGARANTIAS.RUTAARCHIVOSSUGEF" value="\\bcr0106des81\desGarantias\"/>
		<add key="BCRGARANTIAS.USUARIOSERVICIO" value="BCRGARANTIASERVICES"/>
		<add key="BCRGARANTIAS.NOMBREPROCESO" value="GENERAARCHIVOSUGEF"/>
		
	</appSettings>
		
</configuration>
